 
  <div class="col-xl-12">
    <app-card
      cardTitle="Liste des stewards"
      [options]="false"
       
      
    >
    
      <div class="table-responsive">
        <table class="table table-hover">
          <thead >
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of Tab ;let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.nom}}</td>
              <td>{{item.prenom}}</td>
              <td>{{item.email}}</td>
              <td class="td"> 
              <button type="button" class="btn btn-icon btn-danger ">
                <i class="feather icon-trash-2 my-custom-icon"></i>
              </button>
              <button class="action" type="button" class="btn btn-icon btn-warning">
                <i class="feather icon-edit my-custom-icon"></i>
              </button></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </app-card>
  </div> 