<header>
  <div class="m-header" [style.display]="this.headerStyle">
    <a
      class="mobile-menu"
      id="mobile-collapse1"
      href="javascript:"
      (click)="this.onNavCollapsedMob.emit()"
      ><span></span
    ></a>
    <a [routerLink]="['/dashboard/default']" class="b-brand">
      <div >
        <img src="../assets/images/logo.png" alt="Logo">
  
      </div>
    </a>
  </div>
  <a
    class="mobile-menu"
    [ngClass]="{ on: this.menuClass }"
    id="mobile-header"
    href="javascript:"
    (click)="toggleMobOption()"
    ><i class="feather icon-more-horizontal"></i
  ></a>
  <div class="collapse navbar-collapse" [style.display]="this.collapseStyle">
    <!--pour le nav bar du top il contient le zoom, le dropdown button et le recherche-->
    <app-nav-left
      class="me-auto"
      [style.display]="this.headerStyle"
    ></app-nav-left>
    <!--pour le nav bar du top il contient le notif et le profil-->
    <app-nav-right class="ms-auto"></app-nav-right>
  </div>
</header>
