 <div #modalContent>
<div class="modal-header" *ngIf=!id >
    <h4 class="modal-title">Ajout de vols</h4>
</div>
<div class="modal-body"  *ngIf=!id >
    <form (submit)="onAddPilotes()">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="nom" name="nom" required>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
            <label>Emploi :</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="Pilote" value="Pilote" [(ngModel)]="emploi" name="emploi" required>
                <label class="form-check-label" for="Pilote">Pilote</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="Copilote" value="Copilote" [(ngModel)]="emploi" name="emploi" required>
                <label class="form-check-label" for="Copilote">Copilote</label>
            </div>
        </div>

        <div class="form-group">
            <label for="telephone">Téléphone :</label>
            <input type="tel" class="form-control" id="telephone" [(ngModel)]="telephone" name="telephone" required>
        </div>

        <div class="form-group">
            <label for="vols">Vols :</label>
            <select class="form-control" id="vols" [(ngModel)]="selectedFlights" name="vols" required >
                <option *ngFor="let vol of flights" [value]="vol.id">{{ vol.id }}</option>
            </select>
        </div>
        

        <button type="submit" class="btn btn-primary">Ajouter</button>
        <button type="button" class="btn btn-danger" (click)="annuler()">Annuler</button>
    </form>
</div> </div>


<div #modalContent>
    <div class="modal-header"  *ngIf=id >
        <h4 class="modal-title">Modifier les cordonnées du pilote </h4>
    </div>
    <div class="modal-body"  *ngIf=id >
        <form >
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" class="form-control" id="nom" [(ngModel)]="nom" name="nom" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
            </div>
    
            <div class="form-group">
                <label>Emploi :</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="Pilote" value="Pilote" [(ngModel)]="emploi" name="emploi" required>
                    <label class="form-check-label" for="Pilote">Pilote</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="Copilote" value="Copilote" [(ngModel)]="emploi" name="emploi" required>
                    <label class="form-check-label" for="Copilote">Copilote</label>
                </div>
            </div>
    
            <div class="form-group">
                <label for="telephone">Téléphone :</label>
                <input type="tel" class="form-control" id="telephone" [(ngModel)]="telephone" name="telephone" required>
            </div>
    
            <div class="form-group">
                <label for="vols">Vols :</label>
                <select class="form-control" id="vols" [(ngModel)]="selectedFlights" name="vols" required >
                    <option *ngFor="let vol of flights" [value]="vol.id">{{ vol.id }}</option>
                </select>
            </div>
            
    
            <button type="submit" class="btn btn-primary" (click)="onUpdatePilotes()">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="annuler()">Annuler</button>
        </form>
    </div> </div>